<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <p th:inline="text">Kære [[${applicant.name}]]</p>
        <p>Du er hermed inviteret til et gruppeforløb hos Exitcirklen.</p>
        <p th:inline="text">Addressen er : [[${group.address}]]</p>
        <p th:inline="text">Tidspunktet er : [[${group.startDate}]]</p>
        <p>For at kunne deltage skal du først udfylde vores <a href="http://localhost:3000/survey">spørgeskema</a>
            og have betalt <a href="http://localhost:3000/testtest">kontingentet</a> på 300 kr</p>
        <p>Med venlig hilsen Exitcirklen</p>
    </body>
</html>